<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cosmosdb-reproduction20220907133205.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/906bacd5-83f3-4bab-b6f0-c498a1ff4b6d/resourcegroups/jm-cosmos-db-mongo/providers/Microsoft.Web/sites/CosmosDB-Reproduction20220907133205</ResourceId>
    <UserName>$CosmosDB-Reproduction20220907133205</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://cosmosdb-reproduction20220907133205.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>